<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90600107249-tvo2ahiklosggps00vrdnis7l9j8rg77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90600107249-tvo2ahiklosggps00vrdnis7l9j8rg77</string>
	<key>API_KEY</key>
	<string>AIzaSyB4cXZhueZzqKP3KamA3818bwQsvrcsk4s</string>
	<key>GCM_SENDER_ID</key>
	<string>90600107249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crewPortalFlutter</string>
	<key>PROJECT_ID</key>
	<string>crew-portal-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>crew-portal-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90600107249:ios:c07b0fe9666d2cd5de8d50</string>
</dict>
</plist>